In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

# load in data

get the gene symbols for the phosphosites

In [2]:
TLR_fulldata = pd.read_csv('updated_proteomics_tlr.csv')
TLR_data = TLR_fulldata.set_index('id')

In [3]:
TLR_fulldata

,id,m1_KLA_WT_0m,m2_KLA_WT_0m,m1_KLA_WT_15m,m2_KLA_WT_15m,m3_KLA_WT_15m,m1_KLA_p38inh_15m,m2_KLA_p38inh_15m,m1_KLA_WT_45m,m2_KLA_WT_45m,m1_KLA_p38inh_45m,m2_KLA_p38inh_45m
0,A0A087WP74_2810474O19Rik_RIKEN cDNA 2810474O19...,-5.659088,-7.162620,-0.199211,0.000000,0.539028,-5.903994,-6.717828,3.693529,5.284221,1.962134,2.705535
1,A0A1B0GR85_2900026A02Rik_RIKEN cDNA 2900026A02...,-1.098994,-0.167456,0.787626,0.000000,-0.270180,-0.378429,-1.120316,2.053128,3.968032,3.942137,5.075636
2,B1APX2_5031439G07Rik_RIKEN cDNA 5031439G07 gen...,2.617360,3.548026,0.313504,-0.642948,0.298118,0.427732,0.000000,-1.764032,-1.611349,-1.235728,-2.023967
3,Q0VAW6_8030462N17Rik_RIKEN cDNA 8030462N17 gen...,-2.913278,-2.592298,-0.044845,1.044316,-0.245471,0.030250,0.893090,-0.894894,-2.088533,1.349276,2.170523
4,A2A6U3_43717_Septin-9_S67s _0,3.461100,3.352475,-0.017280,-1.519881,1.033200,0.030250,-1.162767,0.843382,-0.824782,-1.000013,-2.740882
...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Q8R1N0_Znf830_Zinc finger protein 830_T106t _1,-8.009853,-6.916784,1.107384,1.399529,0.112804,-4.935481,-6.444926,0.624140,2.914033,-1.608942,0.000000
1299,D3Z4U0_Zranb2_Zinc finger Ran-binding domain-c...,2.222315,2.682012,-0.017280,-1.070314,0.217815,0.382946,-0.010517,-1.098476,-2.833150,-0.037512,-1.606658
1300,Q3UHH1_Zswim8_Zinc finger SWIM domain-containi...,5.777725,6.034327,-0.122028,0.000000,0.458725,0.909190,2.251533,-0.797018,-1.847319,-3.058587,-3.404297
1301,O54692_Zw10_Centromere/kinetochore protein zw1...,-1.059977,-1.659236,-0.502429,0.666902,0.131335,-0.244069,-0.592707,0.000000,2.410630,1.545705,2.256125
1302,A0A140LJ04_Zzef1_Zinc finger ZZ-type and EF-ha...,-4.444689,-4.201409,0.429278,-1.064764,-0.103397,0.000000,-1.647926,1.046964,0.643476,2.099634,2.550381

In [4]:
TLR_map = pd.read_csv('reduced_psite_map.csv')
TLR_map = TLR_map.set_index('id')

In [5]:
TLR_map

                                                   geneSymbol
id
E9Q616_Ahnak_AHNAK nucleoprotein (desmoyokin)_S...      Ahnak
Q9QXS1-3_Plec_Isoform PLEC-1A of Plectin_S1577s _1       Plec
A6H6J9_Ankrd50_Ankyrin repeat domain 50_S177s _1      Ankrd50
Q8BTI8_Srrm2_Serine/arginine repetitive matrix ...      Srrm2
A2A8V9_Srrm1_Serine/arginine repetitive matrix ...      Srrm1
...                                                       ...
F8WIG8_Mfsd4a_Major facilitator superfamily dom...     Mfsd4a
Q9D853_Eef1akmt2_EEF1A lysine methyltransferase...  Eef1akmt2
P60670_Nploc4_Nuclear protein localization prot...     Nploc4
G5E8J3_Wdr11_Bromodomain and WD repeat domain c...      Wdr11
Q9DB30_Phkg2_Phosphorylase b kinase gamma catal...      Phkg2

[1303 rows x 1 columns]

In [6]:
# Merge TLR_data with TLR_map on the index
TLR_data = TLR_data.merge(TLR_map, left_index=True, right_index=True)

# Set the geneSymbol as the new index
TLR_data.set_index('geneSymbol', inplace=True)

TLR_data

,m1_KLA_WT_0m,m2_KLA_WT_0m,m1_KLA_WT_15m,m2_KLA_WT_15m,m3_KLA_WT_15m,m1_KLA_p38inh_15m,m2_KLA_p38inh_15m,m1_KLA_WT_45m,m2_KLA_WT_45m,m1_KLA_p38inh_45m,m2_KLA_p38inh_45m
geneSymbol,,,,,,,,,,,
2810474O19Rik,-5.659088,-7.162620,-0.199211,0.000000,0.539028,-5.903994,-6.717828,3.693529,5.284221,1.962134,2.705535
2900026A02Rik,-1.098994,-0.167456,0.787626,0.000000,-0.270180,-0.378429,-1.120316,2.053128,3.968032,3.942137,5.075636
5031439G07Rik,2.617360,3.548026,0.313504,-0.642948,0.298118,0.427732,0.000000,-1.764032,-1.611349,-1.235728,-2.023967
8030462N17Rik,-2.913278,-2.592298,-0.044845,1.044316,-0.245471,0.030250,0.893090,-0.894894,-2.088533,1.349276,2.170523
9-Sep,3.461100,3.352475,-0.017280,-1.519881,1.033200,0.030250,-1.162767,0.843382,-0.824782,-1.000013,-2.740882
...,...,...,...,...,...,...,...,...,...,...,...
Znf830,-8.009853,-6.916784,1.107384,1.399529,0.112804,-4.935481,-6.444926,0.624140,2.914033,-1.608942,0.000000
Zranb2,2.222315,2.682012,-0.017280,-1.070314,0.217815,0.382946,-0.010517,-1.098476,-2.833150,-0.037512,-1.606658
Zswim8,5.777725,6.034327,-0.122028,0.000000,0.458725,0.909190,2.251533,-0.797018,-1.847319,-3.058587,-3.404297
Zw10,-1.059977,-1.659236,-0.502429,0.666902,0.131335,-0.244069,-0.592707,0.000000,2.410630,1.545705,2.256125
Zzef1,-4.444689,-4.201409,0.429278,-1.064764,-0.103397,0.000000,-1.647926,1.046964,0.643476,2.099634,2.550381

TLR dataset

In [7]:
TLR_data.columns

Index(['m1_KLA_WT_0m', 'm2_KLA_WT_0m', 'm1_KLA_WT_15m', 'm2_KLA_WT_15m',
       'm3_KLA_WT_15m', 'm1_KLA_p38inh_15m', 'm2_KLA_p38inh_15m',
       'm1_KLA_WT_45m', 'm2_KLA_WT_45m', 'm1_KLA_p38inh_45m',
       'm2_KLA_p38inh_45m'],
      dtype='object')

In [8]:
# remove p38 inhibitor 
TLR_data.drop(['m1_KLA_p38inh_15m', 'm2_KLA_p38inh_15m', 'm1_KLA_p38inh_45m', 'm2_KLA_p38inh_45m'], axis=1, inplace=True)

In [9]:
TLR_data

,m1_KLA_WT_0m,m2_KLA_WT_0m,m1_KLA_WT_15m,m2_KLA_WT_15m,m3_KLA_WT_15m,m1_KLA_WT_45m,m2_KLA_WT_45m
geneSymbol,,,,,,,
2810474O19Rik,-5.659088,-7.162620,-0.199211,0.000000,0.539028,3.693529,5.284221
2900026A02Rik,-1.098994,-0.167456,0.787626,0.000000,-0.270180,2.053128,3.968032
5031439G07Rik,2.617360,3.548026,0.313504,-0.642948,0.298118,-1.764032,-1.611349
8030462N17Rik,-2.913278,-2.592298,-0.044845,1.044316,-0.245471,-0.894894,-2.088533
9-Sep,3.461100,3.352475,-0.017280,-1.519881,1.033200,0.843382,-0.824782
...,...,...,...,...,...,...,...
Znf830,-8.009853,-6.916784,1.107384,1.399529,0.112804,0.624140,2.914033
Zranb2,2.222315,2.682012,-0.017280,-1.070314,0.217815,-1.098476,-2.833150
Zswim8,5.777725,6.034327,-0.122028,0.000000,0.458725,-0.797018,-1.847319
Zw10,-1.059977,-1.659236,-0.502429,0.666902,0.131335,0.000000,2.410630
Zzef1,-4.444689,-4.201409,0.429278,-1.064764,-0.103397,1.046964,0.643476

In [10]:
TLR_data.columns

Index(['m1_KLA_WT_0m', 'm2_KLA_WT_0m', 'm1_KLA_WT_15m', 'm2_KLA_WT_15m',
       'm3_KLA_WT_15m', 'm1_KLA_WT_45m', 'm2_KLA_WT_45m'],
      dtype='object')

In [11]:
TLR_data_rep1 = TLR_data[['m1_KLA_WT_0m', 'm1_KLA_WT_15m', 'm1_KLA_WT_45m']]
TLR_data_rep2 = TLR_data[['m2_KLA_WT_0m', 'm2_KLA_WT_15m', 'm2_KLA_WT_45m']]

In [12]:
TLR_data_rep1

               m1_KLA_WT_0m  m1_KLA_WT_15m  m1_KLA_WT_45m
geneSymbol
2810474O19Rik     -5.659088      -0.199211       3.693529
2900026A02Rik     -1.098994       0.787626       2.053128
5031439G07Rik      2.617360       0.313504      -1.764032
8030462N17Rik     -2.913278      -0.044845      -0.894894
9-Sep              3.461100      -0.017280       0.843382
...                     ...            ...            ...
Znf830            -8.009853       1.107384       0.624140
Zranb2             2.222315      -0.017280      -1.098476
Zswim8             5.777725      -0.122028      -0.797018
Zw10              -1.059977      -0.502429       0.000000
Zzef1             -4.444689       0.429278       1.046964

[1303 rows x 3 columns]

In [13]:
TLR_data_rep2

               m2_KLA_WT_0m  m2_KLA_WT_15m  m2_KLA_WT_45m
geneSymbol
2810474O19Rik     -7.162620       0.000000       5.284221
2900026A02Rik     -0.167456       0.000000       3.968032
5031439G07Rik      3.548026      -0.642948      -1.611349
8030462N17Rik     -2.592298       1.044316      -2.088533
9-Sep              3.352475      -1.519881      -0.824782
...                     ...            ...            ...
Znf830            -6.916784       1.399529       2.914033
Zranb2             2.682012      -1.070314      -2.833150
Zswim8             6.034327       0.000000      -1.847319
Zw10              -1.659236       0.666902       2.410630
Zzef1             -4.201409      -1.064764       0.643476

[1303 rows x 3 columns]

### determine if phosphostires are up or down regulated based on 45 min time point

In [14]:
TLR_data_rep1['state_R1'] = TLR_data_rep1.iloc[:, 2].apply(lambda x: 1 if x > 0 else -1)
TLR_data_rep2['state_R2'] = TLR_data_rep2.iloc[:, 2].apply(lambda x: 1 if x > 0 else -1)

/var/folders/jy/c63ddq7x061bb11h5xt4r2jr0000gn/T/ipykernel_9729/997311960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TLR_data_rep1['state_R1'] = TLR_data_rep1.iloc[:, 2].apply(lambda x: 1 if x > 0 else -1)
/var/folders/jy/c63ddq7x061bb11h5xt4r2jr0000gn/T/ipykernel_9729/997311960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TLR_data_rep2['state_R2'] = TLR_data_rep2.iloc[:, 2].apply(lambda x: 1 if x > 0 else -1)

In [15]:
TLR_data_rep1

               m1_KLA_WT_0m  m1_KLA_WT_15m  m1_KLA_WT_45m  state_R1
geneSymbol
2810474O19Rik     -5.659088      -0.199211       3.693529         1
2900026A02Rik     -1.098994       0.787626       2.053128         1
5031439G07Rik      2.617360       0.313504      -1.764032        -1
8030462N17Rik     -2.913278      -0.044845      -0.894894        -1
9-Sep              3.461100      -0.017280       0.843382         1
...                     ...            ...            ...       ...
Znf830            -8.009853       1.107384       0.624140         1
Zranb2             2.222315      -0.017280      -1.098476        -1
Zswim8             5.777725      -0.122028      -0.797018        -1
Zw10              -1.059977      -0.502429       0.000000        -1
Zzef1             -4.444689       0.429278       1.046964         1

[1303 rows x 4 columns]

In [16]:
TLR_data_rep2

               m2_KLA_WT_0m  m2_KLA_WT_15m  m2_KLA_WT_45m  state_R2
geneSymbol
2810474O19Rik     -7.162620       0.000000       5.284221         1
2900026A02Rik     -0.167456       0.000000       3.968032         1
5031439G07Rik      3.548026      -0.642948      -1.611349        -1
8030462N17Rik     -2.592298       1.044316      -2.088533        -1
9-Sep              3.352475      -1.519881      -0.824782        -1
...                     ...            ...            ...       ...
Znf830            -6.916784       1.399529       2.914033         1
Zranb2             2.682012      -1.070314      -2.833150        -1
Zswim8             6.034327       0.000000      -1.847319        -1
Zw10              -1.659236       0.666902       2.410630         1
Zzef1             -4.201409      -1.064764       0.643476         1

[1303 rows x 4 columns]

In [17]:
TLR_combined = pd.concat([TLR_data_rep1, TLR_data_rep2], axis=1)

In [18]:
TLR_combined

,m1_KLA_WT_0m,m1_KLA_WT_15m,m1_KLA_WT_45m,state_R1,m2_KLA_WT_0m,m2_KLA_WT_15m,m2_KLA_WT_45m,state_R2
geneSymbol,,,,,,,,
2810474O19Rik,-5.659088,-0.199211,3.693529,1,-7.162620,0.000000,5.284221,1
2900026A02Rik,-1.098994,0.787626,2.053128,1,-0.167456,0.000000,3.968032,1
5031439G07Rik,2.617360,0.313504,-1.764032,-1,3.548026,-0.642948,-1.611349,-1
8030462N17Rik,-2.913278,-0.044845,-0.894894,-1,-2.592298,1.044316,-2.088533,-1
9-Sep,3.461100,-0.017280,0.843382,1,3.352475,-1.519881,-0.824782,-1
...,...,...,...,...,...,...,...,...
Znf830,-8.009853,1.107384,0.624140,1,-6.916784,1.399529,2.914033,1
Zranb2,2.222315,-0.017280,-1.098476,-1,2.682012,-1.070314,-2.833150,-1
Zswim8,5.777725,-0.122028,-0.797018,-1,6.034327,0.000000,-1.847319,-1
Zw10,-1.059977,-0.502429,0.000000,-1,-1.659236,0.666902,2.410630,1
Zzef1,-4.444689,0.429278,1.046964,1,-4.201409,-1.064764,0.643476,1

In [19]:
# Count the number of times state_R1 and state_R2 are similar
similar_count = (TLR_combined['state_R1'] == TLR_combined['state_R2']).sum()

# Count the number of times state_R1 and state_R2 are different
different_count = (TLR_combined['state_R1'] != TLR_combined['state_R2']).sum()

print(f"Number of similar states: {similar_count}")
print(f"Number of different states: {different_count}")

Number of similar states: 1216
Number of different states: 87

In [20]:
TLR_combined

,m1_KLA_WT_0m,m1_KLA_WT_15m,m1_KLA_WT_45m,state_R1,m2_KLA_WT_0m,m2_KLA_WT_15m,m2_KLA_WT_45m,state_R2
geneSymbol,,,,,,,,
2810474O19Rik,-5.659088,-0.199211,3.693529,1,-7.162620,0.000000,5.284221,1
2900026A02Rik,-1.098994,0.787626,2.053128,1,-0.167456,0.000000,3.968032,1
5031439G07Rik,2.617360,0.313504,-1.764032,-1,3.548026,-0.642948,-1.611349,-1
8030462N17Rik,-2.913278,-0.044845,-0.894894,-1,-2.592298,1.044316,-2.088533,-1
9-Sep,3.461100,-0.017280,0.843382,1,3.352475,-1.519881,-0.824782,-1
...,...,...,...,...,...,...,...,...
Znf830,-8.009853,1.107384,0.624140,1,-6.916784,1.399529,2.914033,1
Zranb2,2.222315,-0.017280,-1.098476,-1,2.682012,-1.070314,-2.833150,-1
Zswim8,5.777725,-0.122028,-0.797018,-1,6.034327,0.000000,-1.847319,-1
Zw10,-1.059977,-0.502429,0.000000,-1,-1.659236,0.666902,2.410630,1
Zzef1,-4.444689,0.429278,1.046964,1,-4.201409,-1.064764,0.643476,1

In [21]:
# Create a new DataFrame TLR_states with the same index as TLR_combined
TLR_states = pd.DataFrame(index=TLR_combined.index)

# Iterate through each row in TLR_combined
for idx, row in TLR_combined.iterrows():
    if row['state_R1'] == row['state_R2']:
        TLR_states.loc[idx, 'final_state'] = row['state_R1']
    else:
        if (row['m1_KLA_WT_45m'] + row['m2_KLA_WT_45m']) / 2 > 1:
            TLR_states.loc[idx, 'final_state'] = int(1)
        else:
            TLR_states.loc[idx, 'final_state'] = int(-1)

print("TLR States DataFrame:")
print(TLR_states)

TLR States DataFrame:
               final_state
geneSymbol
2810474O19Rik          1.0
2900026A02Rik          1.0
5031439G07Rik         -1.0
8030462N17Rik         -1.0
9-Sep                 -1.0
...                    ...
Znf830                 1.0
Zranb2                -1.0
Zswim8                -1.0
Zw10                   1.0
Zzef1                  1.0

[1303 rows x 1 columns]

In [22]:
TLR_states

               final_state
geneSymbol
2810474O19Rik          1.0
2900026A02Rik          1.0
5031439G07Rik         -1.0
8030462N17Rik         -1.0
9-Sep                 -1.0
...                    ...
Znf830                 1.0
Zranb2                -1.0
Zswim8                -1.0
Zw10                   1.0
Zzef1                  1.0

[1303 rows x 1 columns]

In [23]:
upreg = 0
downreg = 0

for i in TLR_states['final_state']:
    if i == 1:
        upreg += 1
        # print('Upregulated', upreg)
    else:
        downreg += 1
        # print('Downregulated', downreg)

print('Upregulated:', upreg)
print('Downregulated:', downreg)

Upregulated: 881
Downregulated: 422

In [24]:
print('Count of +1 states:', upreg)
print('Count of -1 states:', downreg)

Count of +1 states: 881
Count of -1 states: 422

In [25]:
TLR_states.to_csv('TLR_states.csv', index=True)