In [1]:
# imports 
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats
import os

# Proteomics

In [2]:
# set wd
os.chdir("/ix/djishnu/Aaron_F/PGM_project/PPI")

In [9]:
# load data
ppi_df = pd.read_csv("/ix/djishnu/Aaron_F/PGM_project/PPI/MusMusculus_lcb_hq.txt", sep="\t")
ppi_df = ppi_df[["Gene_A", "Gene_B"]]
ppi_df = ppi_df.dropna()

In [11]:
ppi_df.to_csv("ppi_edgeList.txt", header=False, index=False, sep="\t")

In [13]:
test_df = pd.read_csv("/ix/djishnu/Aaron_F/PGM_project/PPI/Results/ppi_edgeList.txt", header=None, sep="\t")

In [15]:
test_df

            0        1
0       Auts2     Rnf2
1      Cfap77   Cfap77
2      Cfap77   Tuba3a
3      Cfap77   Tubb4b
4      Cfap77  Cfap126
...       ...      ...
3945    Gipc2    Gipc2
3946  Slc23a1  Slc23a1
3947    Psma7    Psma5
3948   Psmd10   Psmd10
3949    Keap1    Keap1

[3950 rows x 2 columns]