In [1]:
# imports 
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats
import os

# encode gene order to edge list

In [2]:
# set wd
os.chdir("/ix/djishnu/Aaron_F/PGM_project/Bionic")

In [8]:
# load data
data = pd.read_csv("/ix/djishnu/Aaron_F/code/Bionic/encoded.ppis.forBIONIC.txt", header=None, sep=" ")
data_order = pd.read_csv("/ix/djishnu/Aaron_F/PGM_project/Bionic/network_genes_union_and_ordering_forBionic.txt",sep="\t",header=None)

In [9]:
data

            0      1
0       11943  10779
1        2570   9772
2        6752  10563
3        3183   3183
4         848  13070
...       ...    ...
176944   2475  10832
176945   4535    103
176946   4715   9975
176947   2150   1418
176948   9305   1400

[176949 rows x 2 columns]

In [5]:
data_order

            0
0       Rbbp5
1     Slc26a2
2       Bmal1
3        Git1
4       Rcor1
...       ...
4319    Ap1g1
4320    Rps13
4321    Haus6
4322  Ppp2r1a
4323    Eif3b

[4324 rows x 1 columns]

In [6]:
# make the dictionaries 

genes = list(data_order[0])

genes2encode = {}

for idx,item in enumerate(genes):
	genes2encode[item] = idx+1

ppis = list(zip(data[0],data[1]))

In [7]:
# save
count = 0
handle = open("20241114_encoded.ppis.forBIONIC.txt",'w')

for p1,p2 in ppis:

	try:
		handle.write(str(genes2encode[p1])+"\t"+str(genes2encode[p2])+"\n")

	except KeyError:
		count = count +1 		
		continue 


handle.close()

print (count)

print("done!")

0
done!